<div class="form-group col">
    <h5>Output</h5>
    <div class="form-group">
        <table class="table table-striped table-bordered table-hover w-auto">
            <thead class="thead-light">
                <tr>
                    {% if bf %}
                        <th style="text-align: left">Cash Market</th>
                    {% else %}
                        <th style="text-align: left">Attributes</th>
                    {% endif %}
                    <th style="text-align: right">Workout</th>
                    {% if bf %}
                        <th style="text-align: left">Futures Market</th>
                    {% else %}
                        <th style="text-align: left">Attributes</th>
                    {% endif %}
                    <th style="text-align: right">Workout</th>
                </tr>
            </thead>
            <tbody>
                {% for _, row in res.iterrows() %}
                <tr>
                    <td style="text-align: left">{{ row['Attributes1'] }}</td>
                    <td style="text-align: right">{{ row['Workout1'] }}</td>
                    <td style="text-align: left">{{ row['Attributes2'] }}</td>
                    <td style="text-align: right">{{ row['Workout2'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>