<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Zspread
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/zspread_zero">Zspread from zero coupon bond</a>
            <a class="dropdown-item" href="/zspread_par">Zspread from par coupon bond</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/bond">Bond</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/repo">Repo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/bond_future">Bond Future</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cds">CDS</a>
    </li>
</ul>