{% extends "layout.html" %}
{% block content %}

<div class="starter-template">
    <h1>Analysis</h1>
</div>

<form method="POST" role="form" class="form-horizontal">
    <div class="form-group row">
        <label for="settlement-date-input" class="col-2 col-form-label">Settlement Date</label>
        <div class="input-group-append">
            <input class="form-control" type="date" value="2020-7-15" id="settlement-date-input" name="settlement">
        </div>
    </div>

    <div class="form-group row">
        <label for="maturity-date-input" class="col-2 col-form-label">Maturity Date</label>
        <div class="input-group-append">
            <input class="form-control" type="date" id="maturity-date-input" name="maturity">
        </div>
    </div>

    <div class="form-group row">
        <label for="coupon-input" class="col-2 col-form-label">Coupon Rate</label>
        <div class="input-group-append">
            <input class="form-control" type="number" step="1e-16" id="coupon-input" name="coupon_perc">
            <span class="input-group-text" id="coupon-input">%</span>
        </div>
    </div>

    <div class="form-group row">
        <label for="market-price-input" class="col-2 col-form-label">Market Price</label>
        <div class="input-group-append">
            <input class="form-control" type="number" step="1e-16" id="market-price-input" name="price_perc">
            <span class="input-group-text" id="market-price-input">%</span>
        </div>
    </div>

    <div class="form-group row">
        <label for="coupon-freq-input" class="col-2 col-form-label">Coupon Frequency</label>
        <div class="input-group-append">
            <input class="form-control" type="number" value="2" id="coupon-freq-input" name="frequency">
        </div>
    </div>

    <div class="form-group row">
        <label for="basis-input" class="col-2 col-form-label">Basis</label>
        <div class="input-group-append">
            <input class="form-control" type="number" value="1" id="basis-input" name="basis">
        </div>
    </div>

    <!-- TO DO: make basis as a selection input-->
    <!-- TO DO: add yield as an optional input-->

    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="form-group">
        Result: <input type="number" name="result_dc" value="{{ res }}">

    </div>

</form>
<!--
<form method="POST" role="form" class="form-horizontal">
    <div class="form-group">
        <input type="number" class="form-control" name="number1" placeholder="Number1">
    </div>

    <div class="form-group">
        <input type="number" class="form-control" name="number2" placeholder="Number2">
    </div>
    <input type="submit" class="btn btn-default" value="Submit" />

    <div class="form-group">
        Result: <input type="number" name="result_dc" value="{{ res }}">

    </div>

</form>
-->
{% endblock content%}