{% extends "layout.html" %}
{% block content %}

{% include 'includes/tabs.html' %}

<div class="starter-template">
    <h2>Credit Default Swap Spread</h2>
</div>

<form method="POST" role="form" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col">

            <h5>Input</h5>

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="cds-input">Upload maturity, risk free rate, and risky rate</label>
                </div>
                <div class="form-group col-6">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="cds-input" name="cds_input_df">
                        <label class="custom-file-label" for="cds-input">Choose file</label>
                      </div>
                </div>
            </div>

            {% include 'includes/fv_input.html' %}

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="rr-perc-input">Recovery Rate</label>
                </div>
                <div class="form-group col-6">
                    <div class="input-group-append">
                        <input class="form-control" type="number" min="0" max="100" step="1e-16" id="rr-perc-input"
                            name="rr_perc" value=40>
                        <span class="input-group-text" id="rr-perc-input">%</span>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>

            <p>
                The maturity, risk free rate, and risky rate should be in csv format with 1st column maturity, 
                2nd column risk free rate, and 3rd column risky rate.
            </p>

            <img src="http://127.0.0.1:5000/app/templates/images/cds_input_example.png" alt="cds input example" style="width:42px;height:42px;">

        </div>

        <div class="form-group col">
            <h5>Output</h5>
            <div class="form-group">
                <table class="table table-striped table-bordered table-hover w-auto">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align: left">Maturity</th>
                            <th style="text-align: right">CDS Spread</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in res.iterrows() %}
                        <tr>
                            <td style="text-align: left">{{ row['Maturity'] }}</td>
                            <td style="text-align: right">{{ row['CDS'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</form>
{% endblock content%}