{% extends "layout.html" %}
{% block content %}

<div class="starter-template">
    <h1>The is a web interface of fincomepy</h1>
    <p class="lead">
        Use this interface to run and visualize fixed income related calculations.
    </p>
    <p class="lead">
        Click on "Analysis" to get started.
    </p>
    <p class="lead">
        Products covered:
    </p>

    <ul>
        <li>Z-spread calculation from zero coupon bond</li>
        <li>Z-spread calculation from par coupon bond</li>
        <li>Bond price, yield and other related calculations</li>
        <li>Repo start payment, end payment, and break even yield</li>
        <li>Bond future's net basis and implied repo rate</li>
        <li>CDS spread</li>
    </ul>
</div>

{% endblock content%}
