{% extends "layout.html" %}
{% block content %}

{% include 'includes/tabs.html' %}

<div class="starter-template">
    <h2>Repo</h2>
</div>

<form method="POST" role="form">
    <div class="form-row">
        <div class="form-group col">
            <h5>Input</h5>
            {% include 'includes/bond_info.html' %}
            <!-- TO DO: add yield as an optional input-->
            <!-- TO DO: add input validality check-->

            <div class="form-group row">
                <label for="face-value-input" class="col-4 col-form-label">Face Value</label>
                <div class="input-group-append">
                    <input class="form-control" type="number" min="0" step="1e-16" id="face-value-input" name="bond_face_value">
                </div>
            </div>

            {% include 'includes/repo_info.html' %}

            <!-- This is future work
            <div class="form-group row">
                <label for="margin-perc-input" class="col-4 col-form-label">Margin</label>
                <div class="input-group-append">
                    <input class="form-control" type="number" min="1" max="100" step="1e-16" id="margin-perc-input" name="margin_perc">
                    <span class="input-group-text" id="margin-perc-input">%</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="haircut-perc-input" class="col-4 col-form-label">Haircut</label>
                <div class="input-group-append">
                    <input class="form-control" type="number" min="1" max="100" step="1e-16" id="haircut-perc-input" name="haircut_perc">
                    <span class="input-group-text" id="haircut-perc-input">%</span>
                </div>
            </div>
            -->
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        {% include 'includes/output_table.html' %}

    </div>
</form>
{% endblock content%}